body {
  background-color: lightskyblue;
  margin: 0;
  font-family: Arial, sans-serif;
}

h1 {
  color: rgb(0, 140, 255);
}

.container1 {
  max-width: 400px;
  margin: 20px auto;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.container2 {
  max-width: 400px;
  margin: 20px auto;
}

h2 {
  margin-bottom: 10px;
}

input[type="radio"] {
  margin-right: 5px;
}

h3 {
  margin-top: 20px;
}

p {
  margin-bottom: 20px;
}

button {
  background-color: rgb(26, 26, 192);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 8px 16px;
  margin-top: 10px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #007bff;
}