body {
  font-family: 'Arial', sans-serif;
  background-color: lightpink;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.Wrapper {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 400px;
}

.form-wrapper {
  padding: 20px;
}

h2 {
  text-align: center;
  color: #333;
}

.input-group {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
  display: block;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.remember {
  margin-bottom: 20px;
  display: block;
}

.Signup-link,
.sign-up-link {
  text-align: center;
}

.button-link {
  color: #4caf50;
  text-decoration: none;
  font-weight: bold;
}

button:hover,
.button-link:hover {
  background-color: #45a049;
}